// DevMe custom variables

// Your variable overrides
$icomoon-font-path: 		"../../../../twenty-em/assets/dist/vendor/@themingisprose/icon-pack/fonts";

// Fonts
$font-family-sans-serif:	'Open Sans', sans-serif;
$headings-font-family:		'PT Sans Narrow', sans-serif;

// Links
$link-hover-decoration:		none;

// Colors
$primary:					#455A64;
$secondary:					#607D8B;
$success:					#CFD8DC;
$danger:					#FF5252;
$info:						#BDBDBD;
$warning:					#FF5722;
$light:						#FFFFFF;
$dark:						#212121;

$code-color:				$danger;
