// DevMe custom variables

// Your variable overrides
$icomoon-font-path: 		"../../../../twenty-em/assets/dist/vendor/@themingisprose/icon-pack/fonts";

// Fonts
$font-family-sans-serif:	'Open Sans', sans-serif;
$headings-font-family:		'PT Sans Narrow', sans-serif;

// Links
$link-hover-decoration:		none;

// Colors
$primary:					#512DA8;
$secondary:					#757575;
$success:					#D1C4E9;
$danger:					#FF5252;
$info:						#673AB7;
$warning:					#FF5722;
$light:						#FFFFFF;
$dark:						#212121;
